{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "editor/css/wangEditor.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/add-record-radio.css" %}" />
{% endblock %}

{% block main %}
<!-- Main Wrapper -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row">
				<div class="12u">
						<section>
							<header class="major">
								<h2 style="color: #0f0fff;">添加一则记录</h2>
							</header>
                        </section>
				</div>
			</div>
            <div class="row">
                <div class="12u">
                    <div class="radiocontainer">
                        <h2>选择栏目</h2>

                        <ul>
                            <li>
                            <input type="radio" id="f-option" name="selector">
                            <label for="f-option">栏目1</label>

                            <div class="check"></div>
                          </li>

                          <li>
                            <input type="radio" id="s-option" name="selector">
                            <label for="s-option">栏目2</label>

                            <div class="check"><div class="inside"></div></div>
                          </li>

                          <li>
                            <input type="radio" id="t-option" name="selector">
                            <label for="t-option">栏目3</label>

                            <div class="check"><div class="inside"></div></div>
                          </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
				<div class="6u">
                    <section class="content bgcolor-8">
                        <span class="input input--isao">
                            <input class="input__field input__field--isao" type="text" id="input-38">
                            <label class="input__label input__label--isao" for="input-38" data-content="主标题">
                                <span class="input__label-content input__label-content--isao">主标题</span>
                            </label>
                        </span>
                        <span class="input input--isao">
                            <input class="input__field input__field--isao" type="text" id="input-39" placeholder="2016.11.11">
                            <label class="input__label input__label--isao" for="input-39" data-content="日期格式 &quot;2016.11.11&quot;">
                                <span class="input__label-content input__label-content--isao">日期</span>
                            </label>
                        </span>
                    </section>
                </div>
                <div class="6u">
                    <section class="content bgcolor-8">
                        <span class="input input--isao">
                            <input class="input__field input__field--isao" type="text" id="input-38">
                            <label class="input__label input__label--isao" for="input-38" data-content="地点">
                                <span class="input__label-content input__label-content--isao">地点</span>
                            </label>
                        </span>
                        <span class="input input--isao">
                            <input class="input__field input__field--isao" type="text" id="input-38">
                            <label class="input__label input__label--isao" for="input-38" data-content="嘉宾">
                                <span class="input__label-content input__label-content--isao">嘉宾</span>
                            </label>
                        </span>
                    </section>
                </div>
			</div>


            <div class="row">
				<div class="12u">
                    <div id="div1" style="height: 600px;"><p>请在此输入正文【可有副标题，但是不要包含主标题】...</p></div>
                </div>
			</div>
            <div class="row">
				<div class="12u">
                    <a href="#" class="button" onclick="sub()" style="text-align: center; display: block; width: 30%; margin: 1em auto 1em">提交</a>
                </div>
            </div>
		</div>
	</div>

{#    <script type="text/javascript" src="{% static "editor/js/lib/jquery-1.10.2.min.js" %}"></script>#}
    <script type="text/javascript" src="{% static "editor/js/wangEditor.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/classie.js" %}"></script>
    <script type="text/javascript">
        var count=false;
        // 获取元素
        var div = document.getElementById('div1');
        // 生成编辑器
        var editor = new wangEditor(div);
        editor.config.uploadImgUrl = '/blog/static/files';
        editor.config.uploadImgFileName = 'uploadFileName';//origin:wangEditorh5file
        editor.config.uploadParams = {
            token: 'abcdefg',
            user: 'useruu'
        };
        editor.config.uploadImgFns.onload = function (resultText, xhr) {
            var originalName = editor.uploadImgOriginalName || '';
        };
        editor.create();
        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                 }
            }
            document.body.appendChild(form);
            form.submit();
        }
        function sub() {
            if (count==false){
                post('/post-record/',{ context:editor.$txt.html() });
                count=true;
            }else{}

        }
    </script>
{% endblock %}