{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>国际交流</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet" />
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/jquery.dropotron.js" %}"></script>
		<script src="{% static "js/config.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/skel-panels.min.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "css/skel-noscript.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/style-desktop.css" %}" />
		{% block css %}
			
		{% endblock %}
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">

							<!-- Header -->
								<section id="header">

									<!-- Logo -->
										<h1><a href="/">
										哈尔滨工业大学
										</a></h1>

									<!-- Nav -->
										<nav id="nav">
											<ul>
                                                {% if current == 1 %}
                                                    <li class="current_page_item">
                                                {% else %}
                                                    <li>
                                                {% endif %}
												        <a href="/">主页</a></li>
                                                    </li>
												<li>
                                                {% if current == 2 %}
                                                    <li class="current_page_item">
                                                {% else %}
                                                    <li>
                                                {% endif %}
                                                    <a href="">栏目</a>
                                                        <ul>
                                                            {% for col in  nav_display_columns %}
                                                            <li>
                                                                <a href="{{ col.get_absolute_url }}"> {{ col.name }} </a>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
{#												<li><a href="right-sidebar">Right Sidebar</a></li>#}
                                                {% if current == 3 %}
                                                    <li class="current_page_item">
                                                {% else %}
                                                    <li>
                                                {% endif %}
												    <a href="/add-record">发布活动</a></li>
{#												<li><a href="no-sidebar.html">No Sidebar</a></li>#}
											</ul>
										</nav>

								</section>

						</div>
					</div>
					{% block header %}

					{% endblock %}
				</div>
			</div>
		<!-- Main Wrapper -->
		{% block main %}
			
		{% endblock %}
		<!-- Footer Wrapper -->
			<div id="footer-wrapper">

				<!-- Footer -->
					<section id="footer" class="container">
						<!-- <div class="row">
						    <div class="8u">

								<section>
									<header>
										<h2>Blandit nisl adipiscing</h2>
									</header>
									<ul class="dates">
										<li>
											<span class="date">Jan <strong>27</strong></span>
											<h3><a href="#">Lorem dolor sit amet veroeros</a></h3>
											<p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
										</li>
										<li>
											<span class="date">Jan <strong>23</strong></span>
											<h3><a href="#">Ipsum sed blandit nisl consequat</a></h3>
											<p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
										</li>
										<li>
											<span class="date">Jan <strong>15</strong></span>
											<h3><a href="#">Magna tempus lorem feugiat</a></h3>
											<p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
										</li>
										<li>
											<span class="date">Jan <strong>12</strong></span>
											<h3><a href="#">Dolore tempus ipsum feugiat nulla</a></h3>
											<p>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</p>
										</li>
										<li>
											<span class="date">Jan <strong>10</strong></span>
											<h3><a href="#">Blandit tempus aliquam?</a></h3>
											<p>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</p>
										</li>
									</ul>
								</section>

							</div>
							<div class="4u">

								<section>
									<header>
										<h2>What's this all about?</h2>
									</header>
									<a href="index" class="image image-full"><img src="{% static "images/pic10.jpg" %}" alt="" /></a>
									<p>
										This is <a href="http://html5up.net/dopetrope/">Dopetrope</a> a free, fully responsive HTML5 site template by
										<a href="http://n33.co">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a> It's released for free under
										the <a href="http://html5up.net/license/">CCA</a> license so feel free to use it for any personal or commercial project &ndash;
										just don't forget to credit us! <strong>PS:</strong> The awesome placeholder artwork used in this design is courtesy of <a href="http://facebook.com/DreametryDoodle/">Dreametry Doodle</a>.
									</p>
									<footer>
										<a href="#" class="button">Find out more</a>
									</footer>
								</section>

							</div>
						</div> -->
						<div class="row">
							<div class="4u">

								<section>
									<header>
										<h2>链接</h2>
									</header>
									<ul class="divided">
										<li><a href="#">主页</a></li>
										<li><a href="#">新闻</a></li>
										<li><a href="#">活动</a></li>
										<li><a href="#">交流项目</a></li>
										<li><a href="#">搜索</a></li>
									</ul>
								</section>
							</div>

							<div class="4u">

								<section>
									<header>
										<h2>联系</h2>
									</header>
									<ul class="contact">
										<li>
											<h3>地址</h3>
											<p>
												计算机科学与技术学院<br />
												中国哈尔滨市西大直街92号 15001<br />
												Computer Science and Technology<br />
												92 West DaZhi St., Harbin, China 15001<br />
											</p>
										</li>
										<li>
											<h3>邮箱</h3>
											<p><a href="mailto:csoffice@hit.edu.cn">csoffice@hit.edu.cn</a></p>
										</li>
										<li>
											<h3>电话</h3>
											<p>0451-86413309</p>
										</li>
										<li>
											<h3>传真</h3>
											<p>0451-86403260</p>
										</li>
									</ul>
								</section>

							</div>
						</div>
						<div class="row">
							<div class="12u">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy;2016 朱和一, 王振邦, 曲子奇</li>
											<!-- <li>Images: <a href="index">Dreametry Doodle</a> + <a href="http://iconify.it">Iconify.it</a></li>
											<li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
										</ul>
									</div>

							</div>
						</div>
					</section>

			</div>

	</body>
</html>
