{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>国际交流</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet" />
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/jquery.dropotron.js" %}"></script>
		<script src="{% static "js/config.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/skel-panels.min.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "css/skel-noscript.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/style-desktop.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "editor/css/wangEditor.min.css" %}" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">

							<!-- Header -->
								<section id="header">

									<!-- Logo -->
										<h1><a href="/">哈工大计算机 国际合作交流</a></h1>

									<!-- Nav -->
										<nav id="nav">
											<ul>
												{% if nav_show == 'home' %}
                                                    <li class="current_page_item">
                                                {% else %}
                                                    <li>
                                                {% endif %}
                                                        <a href="/">首页</a>
                                                    </li>
                                               {% for col in  nav_display_columns %}
                                                   {% if col.name == nav_show %}
                                                        <li class="current_page_item">
                                                   {% else %}
                                                       <li>
                                                   {% endif %}
                                                       <a href="{{ col.get_absolute_url }}"> {{ col.name }} </a>

                                                   </li>
                                               {% endfor %}
											</ul>
										</nav>
								</section>
						</div>
					</div>
				</div>
			</div>

		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>添加一条记录</h2>
									</header>
                                </section>
						</div>
                        </div>
                            <form>
                                请输入标题: <input type="text" name="name"> <br>
                                <div id="div1">
                                    <p>请在此输入正文...</p>
                                </div>
                                <input type="submit" value="提交">
                            </form>
                        </div>
                    </div>
                </div>
			</div>

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">

				<!-- Footer -->
					<section id="footer" class="container">

						<div class="row">
							<div class="12u">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Untitled	</li>
											<li>Images: <a href="index">Dreametry Doodle</a> + <a href="http://iconify.it">Iconify.it</a></li>
											<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>
						</div>
					</section>

			</div>
        <script type="text/javascript" src="{% static "editor/js/lib/jquery-1.10.2.min.js" %}"></script>
        <script type="text/javascript" src="{% static "editor/js/wangEditor.min.js" %}"></script>
        <script type="text/javascript">
            // 获取元素
            var div = document.getElementById('div1');
            // 生成编辑器
            var editor = new wangEditor(div);
            editor.create();
            $('#btn1').click(function () {
            // 获取编辑器区域完整html代码
            var html = editor.$txt.html();

            // 获取编辑器纯文本内容
            var text = editor.$txt.text();

            // 获取格式化后的纯文本
            var formatText = editor.$txt.formatText();
        </script>


	</body>
</html>