{% extends "base.html" %}
{% block main %}

<!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="container">
            <h2>栏目名称：{{ column.name }}</h2>
            栏目简介：{{ column.info }}
            <ul>
                {% for event in column.event_set.all %}
                    <li>
                        <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                    </li>

                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}
