{% extends "base_index.html" %}
{% load static %}

{% block news %}
    <ul class="dates">
        <h2>新闻</h2>
        {% for event in recent_news %}
            <li>
                <span class="date">{{ event.get_month }} <strong color="#fff">{{ event.upd_time.day }}</strong></span>
                <h3><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h3>
                 <p>{{ event.author }}</p>
            </li></br>
        {% endfor %}
    </ul>
    <div class="actions">
	<a href="/column/news" class="button button-big">更多新闻</a>
    </div>

{% endblock news %}

{% block events %}
    <ul class="dates">
        <h2>近期活动</h2>
        {% for event in recent_events %}
            <li>
                <span class="date">{{ event.get_month }} <strong color="#fff">{{ event.upd_time.day }}</strong></span>
                <h3><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h3>
                <p>{{ event.speaker }}</p>
                <p>{{ event.event_time }}</p>
                <p>{{ event.place }}</p>

            </li>
            </br>
        {% endfor %}
    </ul>
    <div class="actions">
	    <a href="/column/event" class="button button-big">更多活动</a>
    </div>

{% endblock events %}

{% block past_events %}
<div class="row">
    {% for event in past_events %}
        <div class="4u">
            <section class="box">
                <a href="index" class="image image-full"><img src="{% static "images/pic07.jpg" %}" alt="" /></a>
                <header>
                    <h3>{{ event.title }}</h3>
                </header>
                <p>{{ event.abstract }}</p>
                <footer>
                    <a href="{{ event.get_absolute_url }}" class="button button-alt">活动详情</a>
                </footer>
            </section>
        </div>
    {% endfor %}
</div>
{% endblock past_events %}






